
.container{

    justify-content: center;
    background-color: whitesmoke;

}

[class^="box"]{

    margin: 5px;

}

.box2, .box3{
        
    width: 35%;
    
}

.box4, .box5{

    width: 45%;

}

.box6{

    width: 100%;
    
}

